

.title {
    color: #8f2626;
    font-size: 3.2em;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: end; 
}

.product-img {
    width: 25rem;
    padding-left: 86px;
}

.product-title {
    color: #8f2626;
    text-transform: uppercase;
    text-emphasis: 0;
}

.productDesc {
    font-family: 'ZCOOL', sans-serif;
    color: darkred;
    margin-left: 20px;
}

.productOpt {
    font-family: 'ZCOOL', sans-serif;
    color: darkred;
    margin-left: 20px;
}


.productBody{
    display: flex;
    justify-content: center;
}
.productContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: burlywood;
    margin-bottom: 3px;
}
.product-page {
    padding: 5rem 0px;
    display: flex;
    background-color: white;
}

.toChestBtn {
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: 100px;
    padding: 0 7px;
    background-color: darkred;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
}

.productPrice {
    text-align: center;
    color: darkred;

}

span.productPrice::BEFORE {
    content: '$';
    color: darkred;
}