.title {
    text-align: center; 
    background: #97949470;
}

.productDesc {

    padding: 3rem 116px;
    text-align: center;
    display: inline-grid;
    justify-content: space-around;
    margin: 7px 0px 63px 30px;
    border-radius: 8px;
    margin: 1px 2rem 2rem 100px;
}

.productDescText {
    
    margin: 14px 2rem 2rem 35px


}

.productOpt {

    text-align: center;
    display: inline-grid;
    justify-content: space-around;
    margin: 7px 0px 63px 30px;
    border-radius: 8px;
    margin: 1px 2rem 2rem 100px;

}

.toChestBtn {
    border: none;
    /* background-image: url(/static/media/sunduk.b2b172a3.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 15rem;
    height: 2rem;
    background-color: #c7c7c7
}
.pronuctFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: inline-block;
    justify-content: center;
    margin: 20px 40px 18px 30px;
    
}

.productContent {
    display: flex;
    justify-content: space-between;
}

.button {
    display: table;
    background: none;
    margin: -15px 30px 9px 24px;
}