.title {
    text-align: center; 
    color: rgba(206, 180, 33, 0.582);
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 80px;
}


.product-img {
    height: 70vh;
}

.productDesc {
    text-align: center;
}

.productOpt {
    text-align: center;
}

.productBody{
    display: flex;
    justify-content: center;
}
.productContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 50%; */
}
.product-page {
    padding: 5rem 0px;
}