body {
    background-color: whitesmoke;
}
.goods-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 0 0 0;
}

.good {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin: 0 0 0 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}
.item-img {
    width: 180px;
    cursor: pointer;
    background-image: url(/static/media/shyrdak.c71ec315.jpeg);
    height: 160px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.item-goods, .item-price{
    z-index: 1;
}

.goods-sidebar .category-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.goods-sidebar {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 0 0 0;
    text-align: center;
}

.goods-sidebar .category-item {
    width: 65%;
    cursor: pointer;
    color: black;
}

.goods-sidebar .sunduki {
    background: gray;
    color: white;
    margin: 0; 
    padding: 20px;
    width: 65%;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    
}

.goods {
    display: flex;
    width: 100%;
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.item-desc {
    text-align: center;
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    transform: translate(0, 110px);
    transition: 0.5s;

    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
}
.item-price {
    font-size: 13px;
    font-weight: 1000;
}


.category-item {
    background: white;
    padding: 10px 1px;
    border: 1px solid #c7c7c7;
    margin: 0 0 3px 0;
    border-radius: 0;
}

.item-img {
    transition: 0.5s;
}
.good:hover .item-img {
    transform: scale(1.1);
}

.goodImgContainer {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.item-goods{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009c;
}
.item-goods-text{
    transition: 0.5s;
    text-transform: uppercase;
    font-family: sans-serif;
}
.goodImgContainer:hover .item-goods-text{
    transform: translate(0, -25px);
}
.goodImgContainer:hover .item-desc{
    transform: translate(0, 30px);
}

.item-button {
    border: 1px solid;
    cursor: pointer;
    background: none;
    color: white;
    padding: 5px 20px;
}

.goodImgContainer:hover .item-goods {
    background: #5a000094;
}