body {
    background-color: whitesmoke;
}
.goods-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 0 0 0;
}

.good {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 245px;
    margin: 0 0 0 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}
.item-img {
    width: 180px;
    cursor: pointer;
    background-image: url(/static/media/shyrdak.c71ec315.jpeg);
    height: 160px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.item-goods, .item-price{
    z-index: 1;
}

.goods-sidebar .category-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.goods-sidebar {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 0 0 0;
    text-align: center;
}

.goods-sidebar .category-item {
    width: 65%;
    cursor: pointer;
    color: black;
}

.goods-sidebar .sunduki {
    background: gray;
    color: white;
    margin: 0; 
    padding: 20px;
    width: 65%;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    
}

.goods {
    display: flex;
    width: 100%;
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.item-desc {
    text-align: start;
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-price {
    font-size: 13px;
    font-weight: 1000;
}
.category-item:hover {
    background: green;
    transition: 1s;
}
.toStoreBtn {
    position: absolute;
    right: 30px;
    border: none;
    background-color: inherit;
    bottom: 20px;
    padding: .5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/shopping-cart.png);
    z-index: 1;
    cursor: pointer;
}

.category-item {
    background: white;
    padding: 10px 1px;
    border: 1px solid #c7c7c7;
    margin: 0 0 3px 0;
    border-radius: 0;
}