.footer{
  display: flex;
  padding: 2% 13%;
  justify-content: space-between;
  background: #00000070;
  color: white;
}

.desc1{
  display: flex;
  flex-wrap: wrap;

}
.footerRight, .footerLeft{
  width: 60%;
}