.home .container{
  width: 100%;
  margin: 0;
  padding: 24px 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home{
  background: #97949470;
  min-height: 100vh;
  display: flex;
}
