.footer{
    display: flex;
    padding: 2% 13%;
    justify-content: space-between;
    background: #5a5a5a;
    color: rgba(255, 255, 255, 0.945);
}
.footerRight, .footerLeft{
    width: 60%;
}
.desc1{
    display: flex;
    flex-wrap: wrap;

}
.desc2 a {
    color: #232323;
    font-weight: 500;
}