.category-list {
  

}

.category-list-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  padding: 20px;
  width: 25%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin: 0 0 10px 0;
}

.sunduki {
  margin: 40px;
  padding: 90px;
  text-align: center;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}